<!DOCTYPE html>
<html>
    <head>
        <title>Resources</title>
        <link rel="stylesheet"  href="Stylesheets/Style.css">
    </head>
    <body>
        <header>
            <img  class="logo" src="image/logo.png" alt="logo">
            <nav>
                <ul class="nav_links">
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
            <a class="cta" href="#"><Button>Home</Button></a>
        </header>
        <section id="hero">
            
           
        </section>
        
    </body>
</html> 